/**font**/
body {
	margin:0;
	padding:0;
	font-family: playfire Display,serif;
	font-size:16px;
	font-weight:400;
	color:#626262;
}

header{

}
.wrapper
}

.logo{

}
.logo a{

}
.logo a img{

}

.menu{

}

.menu ul {

}
.menu ul li {

}
.menu ul li a{}
